@import "component/layout.css";

.root {
    -primary-color: derive(black, 50%);
    -secondary-color: silver;
    -tertiary-color: #3B4754;

    -text-color: black;
    -border-color: transparent;
}
