@import "component/layout.css";

.root {
    -primary-color: #4C4C4C;
    -secondary-color: white;
    -tertiary-color: #3B4754;

    -text-color: black;
    -title-color: black;
    -border-color: #515151;


    -left-right-color: #C0C0C0;
    -bottom-color: -primary-color;

    -selected-tab: derive(-primary-color, 80%);
    -center-view: #ffffff;
    -error-box: #ffffff;
    -hovered-tab: derive(-tertiary-color, 50%);


    /*    text field    */
    -text-field-focussed: derive(silver, 80%);
    -text-field: silver;

    -menubar-color: silver;
    -combo-box: -left-right-color;

    -history-table-column-text-color: -title-color;
    -history-table-hover: derive(-primary-color, 80%);
    -history-column-header: derive(-primary-color, 40%);
    -history-even-row: derive(-primary-color, 70%);
    -history-odd-row: derive(-primary-color, 100%);
    -history-selected-row: -tertiary-color;
    -history-table-view: derive(-primary-color, 80%);

}