@import "component/layout.css";

.root {
    -primary-color: #544e4d;
    -secondary-color: #333;
    -tertiary-color: #dbc1ac;
    /*-quaternary-color: #cee5d0;*/

    -text-color: #cee5d0;
    -border-color: black;
}