* {
    -fx-font-family: 'Arial';
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#settingsParentPane {
    -fx-background-color: silver;
}

#categoryVBox {
    -fx-background-color: derive(black, 50%);
}

#settingsCategoryButton {
    -fx-background-color: #292826;
    -fx-font-size: 20;
    -fx-text-fill: gray;
    -fx-background-radius: 0;
}

#settingsCategoryButton:hover {
    -fx-background-color: #324241;
    -fx-font-weight: bold;
}

#settingsCategoryButton:focused {
    -fx-background-color: silver;
    -fx-font-weight: bold;
}

#selectedCategoryVBox {
    -fx-background-color: silver;
}

#categoryTitle {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#comboBoxLabel {
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#bottomHBox {
    -fx-background-color: derive(black, 50%);
}

#cancelButton, #saveButton {
    -fx-font-size: 2em;
    -fx-background-color: derive(silver, 0%);
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}
#cancelButton:hover, #saveButton:hover {
    -fx-background-color: derive(silver, 80%);
}

#cancelButton:pressed, #saveButton:pressed {
    -fx-background-color: #add8e6;
}

#cancelButton:focused, #saveButton:focused {
    -fx-background-insets: 0;
}