/*Settings*/
#settingsCategory {
    -fx-pref-width: 10em;
    -fx-pref-height: 4em;
    -fx-font-size: 20;
    -fx-background-color: #292826;
    -fx-text-fill: gray;

}

#settingsCategory:hover {
    -fx-pref-width: 10em;
    -fx-pref-height: 4em;
    -fx-font-size: 20;
    -fx-background-color: #324241;
    -fx-font-weight: Bold;
}
#settingsCategoryOnPress {
    -fx-pref-width: 10em;
    -fx-pref-height: 4em;
    -fx-font-size: 20;
    -fx-background-color: silver;
}

#leftPane{
    -fx-background-color: derive(black, 50%);
}
#settingsMainPane{
    -fx-background-color: silver;
}

#categoryTitle{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#langLabel, #themeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 12;

}

#bottomPaneHbox{
    -fx-background-color: derive(black, 50%);
}
#bottonPaneButtons{
    -fx-background-color: derive(silver, 50%);
    -fx-background-radius: 0;
}
