/* Start Settings */
#categoryVBox {
    -fx-background-color: derive(-primary-color, 10%);
}

#settingsCategoryButton {
    -fx-border-color: transparent;
    -fx-background-color: -primary-color;
    -fx-font-size: 20;
    -fx-text-fill: -text-color;
    -fx-background-radius: 0;
}

#settingsCategoryButton:hover {
    -fx-background-color: -tertiary-color;
    -fx-font-weight: bold;
}

#settingsCategoryButtonOnPress {
    -fx-background-color: -center-view;
    -fx-font-size: 20;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
}

#selectedCategoryVBox {
    -fx-background-color: -center-view;
}

#categoryTitle, #categoryPaneLabels {
    -fx-text-fill: -text-color;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#categoryPaneTitle, #categoryPaneLabels {
    -fx-text-fill: -text-color;
}

#settignsMenuButton {
    -fx-fill: -text-color;
    -fx-background-color: -primary-color;
    -fx-min-width: 5em;
}

#settignsMenuButton .label {
    -fx-text-fill: -text-color;
}

#settignsMenuButton .menu-item {
    -fx-text-fill: -text-color;
}

#settignsMenuButton .context-menu {
    -fx-background-color: -primary-color;
}

#comboBoxLabel {
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#bottomHBox {
    -fx-background-color: -primary-color;
}

#cancelButton, #saveButton {
    -fx-font-size: 2em;
    -fx-background-color: derive(silver, 0%);
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

#cancelButton:hover, #saveButton:hover {
    -fx-background-color: derive(silver, 80%);
}

#cancelButton:pressed, #saveButton:pressed {
    -fx-background-color: #add8e6;
}

#cancelButton:focused, #saveButton:focused {
    -fx-background-insets: 0;
}

/* End Settings */

