/* Start Settings */
#categoryVBox {
    -fx-background-color: derive(-primary-color, 10%);
}

#settingsCategoryButton {
    -fx-border-color: transparent;
    -fx-background-color: derive(-primary-color, 10%);
    -fx-font-size: 20;
    -fx-text-fill: gray;
    -fx-background-radius: 0;
}

#settingsCategoryButton:hover {
    -fx-background-color: #324241;
    -fx-font-weight: bold;
}

#settingsCategoryButton:focused {
    -fx-background-color: derive(-secondary-color, 20%) ;
    -fx-font-weight: bold;
}

#selectedCategoryVBox {
    -fx-background-color: derive(-secondary-color, 20%) ;
}

#categoryTitle {
    -fx-fill: -text-color;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#settignsMenuButton{
    -fx-fill: -text-color;
    -fx-background-color: -secondary-color;
}
#comboBoxLabel {
    -fx-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#bottomHBox {
    -fx-background-color: -primary-color;
}

#cancelButton, #saveButton {
    -fx-font-size: 2em;
    -fx-background-color: derive(silver, 0%);
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}
#cancelButton:hover, #saveButton:hover {
    -fx-background-color: derive(silver, 80%);
}

#cancelButton:pressed, #saveButton:pressed {
    -fx-background-color: #add8e6;
}

#cancelButton:focused, #saveButton:focused {
    -fx-background-insets: 0;
}

/* End Settings */

